<div class="chat chat-form">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Login or email">
	</div>
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Password">
	</div>
	<div class="form-group chat-form-item">
		<button class="btn btn-link">Sign Up</button>
		<button class="btn btn-primary">Log In</button>
	</div>
</div>
