
@{
	ViewBag.Title = "Index";
}

<div class="row">
	<div class="col-lg-offset-9 col-lg-3">
		<h3>Login prewiew</h3>
		@Html.Partial("LogIn")
		
		<h3>Register prewiew</h3>
		@Html.Partial("Register")
		
		<h3>Window prewiew</h3>
		@Html.Partial("Window")
	</div>
</div>
