<div class="chat chat-form">
	<div class="form-group">
		<input type="text" class="form-control" placeholder="Choose a nick name" data-bind="value: chatApp.model.register.name">
	</div>
	<div class="form-group">
		<input type="email" class="form-control" placeholder="Email" data-bind="value: chatApp.model.register.email">
	</div>
	<div class="form-group">
		<input type="password" class="form-control" placeholder="Password" data-bind="value: chatApp.model.register.password">
	</div>
	<div class="form-group chat-form-item">
		<button class="btn btn-primary" data-bind="click: chatApp.onRegisterClick">Register</button>
	</div>
</div>
