<div class="chat chat-window">
	<ul>
		<li>Name1: Some text message here ... .</li>
		<li>Name2: Some other text message here ... .</li>
	</ul>
	<textarea class="form-control"></textarea>
	<button type="button" class="btn btn-link btn-lg"><span class="glyphicon glyphicon-send"></span></button>
</div>
