<div class="chat chat-window">
	<ul></ul>
	<textarea class="form-control" rows="2"></textarea>
	<div>
		<button type="button" class="btn btn-danger pull-left" data-bind="click: chatApp.onLogoutClick"><span class="glyphicon glyphicon-off"></span></button>
		<button type="button" class="btn btn-primary pull-right" data-bind="click: chatApp.onSendClick"><span class="glyphicon glyphicon-send"></span></button>
	</div>
</div>
